@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));  /* Code này tìm kiếm ở đâu có .dark thì thay đổi */

@layer base {
    :root {
        --background: #ffffff;
        --foreground: #000000; 
    }

    .dark {
        --background: #000000; 
        --foreground: #ffffff;
    }

    body {
        background-color: var(--background);
        color: var(--foreground);
        
        transition: background-color 0.3s ease, color 0.3s ease;
        @apply antialiased;
        
        font-feature-settings: "cv02", "cv03", "cv04", "flat", "ss01";
    }

    ::-webkit-scrollbar-track {
        background-color: var(--background);
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-zinc-400 rounded-full border-2;
        border-color: var(--background);
    }
    
    .dark ::-webkit-scrollbar-thumb {
        @apply bg-zinc-800;
    }
}